.job{
  position: absolute;
  font-size: 1.5vw;
  margin-top: 100px;
  margin-left: 30px;
}

.ccwSiteWrapper{
  position: absolute;
}

// .ccwSite{
//   height: 570px;
//   width: 82vw;
//   transform: scale(0.5);
//   position: absolute;
//   top: -140px;
//   left: 27vw;
// }

.ccwSite{
  height: 19vw;
  width: 44vw;
  position: absolute;
  left: 48vw;

}

.ccw{
  position: absolute;
  top: 290px;
  left: 80vw;
  font-size: 0.7vw;
  white-space: nowrap
}

.ccwSiteText{
  height: 250px;
  width: 40vw;
  position: absolute;
  top: 10px;
  left: 6vw;
}

.ccwReleaseImageWrapper{
  position: absolute;
}

.ccwReleaseImage{
  height: 950px;
  width: 140vw;
  transform: scale(0.3);
  position: absolute;
  top: -10px;
  left: -45vw;
}

.ccwReleaseText{
  height: 250px;
  width: 40vw;
  position: absolute;
  top: 330px;
  left: 49vw;
}