.profile{
}

.status{
  position: absolute;
  font-size: 2.5vw;
  margin-top: 150px;
  margin-left: 8vw;
}

.selfie{
  margin-left: 57vw;

  img{
    height: 47vw;
    width: 35vw;
    // height: 2358px;
    // width: 1777px;
    // height: 747px;
    // width: 562px;
  }
}